html, body{
    padding: 0px;
    margin: 0px;
    background-color: hsl(225, 100%, 98%);
}

/* comienzo de maquetacion del header */

header{
    width: 100%;
    height: auto;
} 
header h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}
header h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}
header .header-items-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px 10px 5px 50px;
}
.header-container .header-items-container .general-header-description-container{
    font-family: "Inter", "sans-serif";
    
}
.header-container .header-items-container .general-header-description-container h3{
    font-family: "Inter", "sans-serif";
    font-size: 15px;
    color: hsl(228, 12%, 44%);
}


/* Fin de maquetacion del header */

/* Comienzo de maquetacion del main */
main{
    width: 100%;
    height: auto;    
}
main .general-main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
main .general-main-container .follower-container{
    display: inherit;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
main .general-main-container .follower-container .fb-media-container{
    grid-column: 1 / 2;
}
main .general-main-container .follower-container .tw-media-container{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
main .general-main-container .follower-container .ig-media-container{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
main .general-main-container .follower-container .yt-media-container{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}


